[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "String2AdjMatrix"]
	path = String2AdjMatrix
	url = https://github.com/tomdrake/string2adjmatrix
